.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Righteous&display=swap');
#h1{
  font-family: 'Righteous', cursive;
  font-size: 7rem;
}
@media screen and (min-width: 1418px){
  .home::before{
    background-image: linear-gradient(to right, red , yellow);
    height: 92.2%;
    width: 100%;
    content: "";
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
}

#bg1:hover{
  box-shadow: 0 0 8px 10px #ff99cc;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
p{
  font-family: 'Open Sans Condensed', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
#h2{
  font-family: 'Rampart One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
.li{
  list-style: none;
  font-family: 'Allerta Stencil', sans-serif;
}

.logo:hover{
  box-shadow: 0 0 8px 10px #ff99cc;
}
.card:hover{
  box-shadow: 0 0 8px 10px #ff99cc;
}

.logo{
  border-radius: 2%;
}
.logo2{
  border-radius: 2%;
}

.logo1{
  height: 200px;
  width: 200px;
  border-radius: 20%;
}

.nv{
  width: 100px;
}

.nv:hover{
  background-color: rgb(221, 240, 152);
  border-radius: 45%;
  box-shadow: 0 0 8px 5px #ff99cc;
}


/* Project css responsive */
@media screen and (min-width: 476px) {
  #projects .lo{
      height: 200px;
      width: 455px;
      margin-left: -0.3%;
  }
  #projects .logo2{
      height: 150px;
      width: 305px;
      margin-left: -0.3%;
  }
  #projects .c2{
      width: 455px;
  }
  #projects .c1{
      width: 305px;
  }
}
@media screen and (min-width: 476px) and (max-width: 1418px) {
  body{
      background-image: linear-gradient(to right, rgb(248, 118, 118) , rgb(248, 248, 142));
  }
  #projects .d-flex{
      flex-wrap: wrap;
  }
  #projects .c2{
      width: 455px;
  }
  #projects .c1{
      width: 305px;
  }
}
@media screen and (max-width: 476px) {
  body{
      background-image: linear-gradient(to right, rgb(248, 118, 118) , rgb(248, 248, 142));    }
  #projects .d-flex{
      flex-wrap: wrap;
  }
  #projects .lo{
      height: 100px;
      width: 255px;
      margin-left: -0.3%;
  }
  #projects .logo2{
      height: 100px;
      width: 255px;
      margin-left: -0.3%;
  }
  #projects .card{
      width: 255px;
  }
}

/* About css responsive */
@media screen and (min-width: 1240px) {
  #about .logodiv{
    margin: 5%;
  }
  #about .lo1{
    height: 200px;
    width: 255px;
  }
  #about .lo2{
    height: 200px;
    width: 400px;
  }
  #about .lo3{
    height: 200px;
    width: 200px;
  }
  #about .lo4{
    height: 200px;
    width: 225px;
  }
}
@media screen and (max-width: 1240px) {
  body{
      background-image: linear-gradient(to right, rgb(248, 118, 118) , rgb(248, 248, 142));    }
  #about .d-flex{
      flex-wrap: wrap;
  }
  #hi{
    width: 100%;
  }
  #about ul{
    padding-right: 20px;
  }
  #about .logodiv{
    padding-top: 5%;
    margin: auto;
  }
  #about .logodiv2{
    margin: auto;
    padding-top: 5%;
  }
  #about .lo1{
    height: 100px;
    width: 155px;
  }
  #about .lo2{
    height: 80px;
    width: 200px;
  }
  #about .lo3{
    height: 80px;
    width: 80px;
  }
  #about .lo4{
    height: 100px;
    width: 125px;
  }
  #about #h2{
    margin-top: 10px;
  }
}

/* Home css responsive */

@media screen and (min-width: 1157px) {
  #wrap{
    width: 60%;
  }
  #bg1{
    margin: 7px;
    height: 650px;
    width: 700px;
    border-radius: 50%;
    opacity: 0.9;
  }
}

@media screen and (min-width: 562px) and (max-width: 1157px) {
  body{
      background-image: linear-gradient(to right, rgb(248, 118, 118) , rgb(248, 248, 142));    
  }
  #wrap{
    width: 100%;
    margin: 15px;
  }
  #home2{
    width: 100%;
  }
  #home{
      flex-wrap: wrap-reverse;
  }
  #bg1{
    margin: 10px;
    height: 350px;
    width: 400px;
    border-radius: 50%;
    opacity: 0.9;
  }
}
@media screen and (max-width: 562px) {
  body{
      background-image: linear-gradient(to right, rgb(248, 118, 118) , rgb(248, 248, 142));    
  }
  #wrap{
    padding-top: 20px;
    width: 100%;
    margin: 15px;
  }
  #home2{
    padding-top: 20px;
    width: 100%;
  }
  #home{
      flex-wrap: wrap-reverse;
  }
  #bg1{
    margin: 10px;
    height: 200px;
    width: 250px;
    border-radius: 50%;
    opacity: 0.9;
  }
  #h1{
    font-size: 5rem;
  }
}